$jumbotron-small-height: 240px
$jumbotron-height: 420px
$jumbotron-large-height: 470px

.jumbotron
  position: relative
  background-position: center
  height: $jumbotron-small-height

  +breakpoint($medium)
    height: $jumbotron-height

  +breakpoint($large-height)
    height: $jumbotron-large-height

  span
    color: #FFFFFF
    position: absolute
    left: 3%
    bottom: 3%
    right: 3%
    font-family: 'Varela Round', sans-serif
    font-size: 2.3em
    text-align: center
    -webkit-font-smoothing: antialiased
    z-index: 2

    +breakpoint($medium)
      text-align: left

  &.split-layout
    display: flex
    flex-direction: column
    height: auto

    +breakpoint($medium)
      flex-direction: row
      height: $jumbotron-height

    +breakpoint($large-height)
      height: $jumbotron-large-height

    .left
      display: flex
      height: $jumbotron-small-height
      background-size: cover

      +breakpoint($medium)
        height: 100%
        width: span(6 of 12 0)

      +breakpoint($large)
        width: span(8 of 12 0)

    .right
      display: flex
      flex-direction: column
      justify-content: center
      background: $blue
      background-image: url('../images/big-heart.png')
      background-repeat: no-repeat
      background-size: 75%
      background-position: center 25%
      padding: $base-spacing*1.5 $base-spacing
      text-align: center
      color: white

      +breakpoint($medium)
        height: 100%
        width: span(6 of 12 0)

      +breakpoint($large)
        width: span(4 of 12 0)

      .button
        background-color: $turqouise

        &:hover,
        &:focus
          background-color: shade($turqouise, 20%)

.home .jumbotron .heart
  background-image: url('../images/big-heart.png')
  background-repeat: no-repeat
  background-position: -60px 60px
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1
