.video-section
  position: relative
  max-width: 100%
  overflow: hidden

  .video-section-bg,
  .video-section-bg-ios
    display: block
    width: 125%

    +breakpoint($medium)
      width: 100%

  .video-content
    position: absolute
    width: 100%
    top: 5%
    text-align: center
    padding: $base-spacing

    +breakpoint($medium)
      top: 35%

    h2
      color: white
      text-shadow: 1px 1px 6px rgba(0,0,0,0.6)
      margin-bottom: $small-spacing/1.5
